<div class="card-container" (click)="animationIndex = 1">
    <div class="flip-card-inner" [@rotate]="states[animationIndex]" (@rotate.done)="eventEnd($event)">
      <div class="flip-card-front" [ngStyle]="{'--borderColor':cardColor}">
        <ng-container class="Theader" [ngTemplateOutlet]="headerTemplate"></ng-container>
        <ng-container class="Tbody" [ngTemplateOutlet]="midTemplate"></ng-container>
        <ng-container class="Tfooter" [ngTemplateOutlet]="footerTemplate"></ng-container>
      </div>
      <div class="flip-card-back">
      </div>
    </div>
  </div>