input{
    border: none;
    background-color: white;
    font: inherit;
    text-align: center;
    border-radius: 10px;
    min-width: 0;
}

input:focus{
    outline: none;
    background-color: yellow;
}