<app-card (animationMade)="onCardClick()">
    <ng-template #headerTemplate>
        <input #nameInput [(ngModel)]="player.name" [readonly]="!isWaiting()" style="display: flex; justify-content: center;" maxlength="16">
    </ng-template>
    <ng-template #midTemplate>
        <h2 style="display: flex; justify-content: center;">
            {{player.score}}
        </h2>
    </ng-template>
    <ng-template #footerTemplate>
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <span>
                Current round
            </span>
            <div style="display: flex; justify-content: space-between;">
                <input #predictInput *ngIf="player.currentRound" [(ngModel)]="player.currentRound.prediction"
                    style="display: flex; justify-content: center;" maxlength="2" [readonly]="!isPredicting()">
                <input #achievedInput *ngIf="player.currentRound" [(ngModel)]="player.currentRound.output"
                    style="display: flex; justify-content: center;" maxlength="2" [readonly]="!isAchieving()">
            </div>
        </div>
    </ng-template>
</app-card>